In [2]:
from seoul import Preprocessing

In [3]:
import pandas as pd

In [4]:
a = pd.read_csv("seoul_air_20130301-20170228.csv")

In [5]:
a.drop(columns=["MSRDT","MSRSTE_NM"],inplace=True)

In [6]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872901 entries, 0 to 872900
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   NO2     872901 non-null  float64
 1   O3      872901 non-null  float64
 2   CO      872901 non-null  float64
 3   SO2     872901 non-null  float64
 4   PM10    872901 non-null  float64
 5   PM25    872901 non-null  float64
dtypes: float64(6)
memory usage: 40.0 MB

In [7]:
q = Preprocessing().scaler(a)

In [8]:
q

             NO2        O3        CO       SO2      PM10      PM25
0      -0.609132  0.401441  0.705678 -0.075234  0.007840 -0.140831
1      -1.011489  0.613120 -0.771591 -0.506737 -0.193438 -0.320984
2      -0.896530  0.560201 -0.402274  0.356270 -0.193438 -0.212892
3      -0.609132  0.242681 -0.402274 -0.075234 -0.049668 -0.104800
4      -0.781571  0.666040 -0.771591  0.356270 -0.049668 -0.248923
...          ...       ...       ...       ...       ...       ...
872896  1.805010 -1.080316  0.705678 -0.506737 -0.452224 -0.212892
872897  1.862489 -1.080316  0.705678 -0.075234 -0.222192 -0.032739
872898  1.632571 -1.027396 -0.402274 -0.506737 -0.653502 -0.357015
872899  1.230214 -0.868636 -0.402274  0.356270 -0.308454 -0.104800
872900  1.230214 -0.815717  0.336361 -0.506737 -0.768518 -0.357015

[872901 rows x 6 columns]